
/* separate nav a bit */
nav :not(:last-child):after {
	content: " -"
}

nav {
	text-align: center;
	padding-top: 0.2rem;
	padding-bottom: 1rem;
	font-size: 0.9rem;
}

body {
	max-width: 45rem;
	margin: auto;
	padding: 0.5rem;
	background: #7ABBFF;
	color: navy;
	font-family: Verdana, Arial, sans-serif;
}

img {
	max-width: 100%;
}

#content {
	padding: 1em;
	padding-top:  0.2em;
	background-color: white;
	border-radius: 0.1em;
	outline-style: double;
	outline-width: 4px;
	outline-color: navy;
	font-size: 16px;
	font-family: Georgia;
	line-height: 1.5;
}

/* url colours, customizable */
a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

nav a:hover {
	outline-style: double;
	border-radius: 0.05rem;
	outline-width: 0.2rem;
	background-color: navy;
	color: white;
}

#Section1, #Section2 {
	outline-width: 2px;
	margin: 0.05rem;
	max-width: 45rem;
/*	text-transform: capitalize; */
}

h1 {
	font-family: Arial;
	font-weight: bold;
}

code {
	font-size: 0.7rem;
	background-color: #099999;
	border-radius: 0.2em;
	color: black;
	padding: 0.2em;
}

#date {
	float:  right;
}

#tags, #archive {
	padding: 0.1rem;
	background-color: white;
	border-radius: 0.5rem;
	outline-style: dotted;
	outline-width: 1px;
	outline-color: grey;
	font-size: 0.8rem;
	margin: auto;
	font-family: sans-serif;
	max-width: inherit;
}

#tags a:nth-child(odd) {
	background-color: #F0E68C;
	padding: 0.2em;
	border-radius: 0.5rem;
}

#tags a:nth-child(even) {
	background-color: #099999;
	padding: 0.2em;
	border-radius: 0.5rem;
}

#tags a:nth-child(3n) {
	background-color: #F55999;
	padding: 0.2em;
	border-radius: 0.5rem;
}

#foot, #socials {
	text-align: center;
	font-size: 0.75rem;
}

#socials img {
	height: 1rem;
}