{{ define "main" }}

	{{ $numPosts := .Site.Params.numPosts }}

	<section id="Section1">
		<h1>Newest posts in <a href="{{ site.Params.Section1 }}"><u>
		{{ site.Params.Section1 }}</u></a></h1>
		
		{{ range ( where .Site.RegularPages "Type" "in" site.Params.Section1 | first site.Params.numPosts ) }}

		{{ $dateformat := "Jan 02, 2006" }}
		<a href="{{ .Permalink }}">{{ .Title }}</a> <div id="date">{{.Date.Format $dateformat}}</div><br>

		{{end}}
	</section>

	<section id="Section2">
		<h1>Newest posts in <a href="{{ site.Params.Section2 }}"><u>
		{{ site.Params.Section2 }}</u></a></h1>
		
		{{ range ( where .Site.RegularPages "Type" "in" site.Params.Section2 | first site.Params.numPosts ) }}

		{{ $dateformat := "Jan 02, 2006" }}
		<a href="{{ .Permalink }}">{{ .Title }}</a> <div id="date">{{.Date.Format $dateformat}}</div><br>
		
		{{end}}
	</section>


{{ end }}