{{ define "main" }}

	{{ $numPosts := .Site.Params.numPosts }}

	<section id="Section1">
		<h2>Newest posts in <a href="{{ site.Params.Section1 }}"><u>
		{{ site.Params.Section1 }}</u></a></h2>
		<ul>
		{{ range ( where .Site.RegularPages "Type" "in" site.Params.Section1 | first site.Params.numPosts ) }}
		{{ $dateformat := "Jan 02, 2006" }}
		  <li><a href="{{ .Permalink }}">{{.Date.Format $dateformat}} - {{ .Title }}</a></li>
		  
		{{end}}
	</ul>
	</section>
	
	<section id="Section2">
		<h2>Newest posts in <a href="{{ site.Params.Section2 }}"><u>
		{{ site.Params.Section2 }}</u></a></h2>
		<ul>
		{{ range ( where .Site.RegularPages "Type" "in" site.Params.Section2 | first site.Params.numPosts ) }}
		{{ $dateformat := "Jan 02, 2006" }}
		  <li><a href="{{ .Permalink }}">{{.Date.Format $dateformat}} - {{ .Title }}</a></li>
		  
		{{end}}
	</ul>
	</section>


{{ end }}